.datepicker-container{
    width: 16.5em;
    min-width: 8em;
    max-width: 80dvw;
    padding: 0.5em 1em;
    box-shadow: 0px 0px 4px 1px #dddddd;
    border-radius: 5px;
}

.month-year-selector-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;

    & > stroytorg-button > button {
        padding: 0.25em 0.5em !important;
    }
}

.days-container {
    display: grid;
    grid-template-columns: repeat(7, 2rem);
    justify-content: center;
}

.day-header div{
    width: 2em;
    gap: 0.25em;
    text-align: center;
}

.date-picker-button-container{
    display: flex;
    align-self: center;
    justify-content: center;
}

.date-picker-button > button {
    padding: 0.25em !important;
    width: 2em;
    text-align: center;
}

.today {
    & > button > span {
        color: red;
    }
}

.not-current-month {
    & > button > span {
        color:#dddddd;
    }
}

.year-selector{
    min-width: 10em;
    min-height: 30em;
    z-index: 10;
    position: relative;
}