@import './input';
@import './date';
@import './select';


::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
}

::-webkit-scrollbar-thumb
{
	background-color: rgb(0, 0, 0, 0.2);
}