//////////////
/// BUTTON ///
//////////////

.button {
  border-radius: 0.5rem;
  padding: 0.6rem 1.5rem;
  font-weight: 500;
  font-size: 15px;
  transition: 0.2s;
  width: var(--button-width);

  &:active{
    transform: scale(0.98);
  }
}



/////////////////////////////
/// SIMPLE BUTTON PALETTE ///
/////////////////////////////

.simple-button{
  background-color: transparent;
  border: none;

  &:hover{
    background-color: rgb(0, 0, 0, 0.1);
    cursor: pointer;
  }
}



//////////////////////////////
/// DEFAULT BUTTON PALETTE ///
//////////////////////////////

.default-button {
  background-color: #ff7e47;
  color: #ffffff;
  border: none;

  &:hover {
    box-shadow:#db4c0f50 0 0 0 3px;
    cursor: pointer;}
}



//////////////////////////////
/// PRIMARY BUTTON PALETTE ///
//////////////////////////////

.primary-button {
  background-color: transparent;
  color: #ff7e47;
  border: 2px solid #ff7e47;

  &:hover {
    box-shadow:#ffac8975 0 0 0 3px;
    cursor: pointer;
  }
}



//////////////////////////////
/// WARNING BUTTON PALETTE ///
//////////////////////////////

.warning-button {
  background-color: #d10202;
  color: #ffffff;
  border: none;

  &:hover {
    box-shadow:#ff525286 0 0 0 3px;
    cursor: pointer;
  }
}



//////////////////////////////////
/// BUTTON WITH LABEL AND ICON ///
//////////////////////////////////

.icon-label-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem !important;
  padding-right: 2rem !important;
}



/////////////////////////////
/// BUTTON ONLY WITH ICON ///
/////////////////////////////

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75em !important;
}



///////////////
/// TOOLTIP ///
///////////////

.tooltip {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 2;
}