////////////////////////
/// STYLE FOR BUTTON ///
////////////////////////
.button {
  border-radius: 5px;
  padding: 0.75rem 2rem;
  font-weight: bold;
  transition: 0.2s;
}


////////////////////////////////////////
/// STYLE FOR DEFAULT BUTTON PALETTE ///
////////////////////////////////////////
.default-button {
  background-color: #f26a31;
  color: #ffffff;
  border: none;
}
.default-button:hover {
  background-color: #eb906a;
  cursor: pointer;
}
.default-button:active {
  background-color: #db4b0f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}


////////////////////////////////////////
/// STYLE FOR PRIMARY BUTTON PALETTE ///
////////////////////////////////////////
.primary-button {
  background-color: transparent;
  color: #f26a31;
  border: 2px solid #f26a31;
}
.primary-button:hover {
  background-color: #fff1eb;
  cursor: pointer;
}
.primary-button:active {
  background-color: #fadacd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


////////////////////////////////////////
/// STYLE FOR WARNING BUTTON PALETTE ///
////////////////////////////////////////
.warning-button {
  background-color: #d10202;
  color: #ffffff;
  border: none;
}
.warning-button:hover {
  background-color: #ff5252;
  cursor: pointer;
}
.warning-button:active {
  background-color: #a70000;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.7);
}


////////////////////////////////////////////
/// STYLE FOR BUTTON WITH LABEL AND ICON ///
////////////////////////////////////////////
.icon-label-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem !important;
  padding-right: 2rem !important;
}


///////////////////////////////////////
/// STYLE FOR BUTTON ONLY WITH ICON ///
///////////////////////////////////////
.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem !important;
  border: none !important;
  border-radius: 100% !important;
}


/////////////////////////
/// STYLE FOR TOOLTIP ///
/////////////////////////
.tooltip {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 2;
}
